nodered/ha-dged-combustiveis.json
[{"id":"a277764053ecd65e","type":"subflow","name":"Validate #Postos","info":"","category":"Combustiveis","in":[{"x":320,"y":140,"wires":[{"id":"e57b531b92c77908"},{"id":"91abcb464c7538d1"}]}],"out":[{"x":820,"y":60,"wires":[{"id":"e57b531b92c77908","port":0}]},{"x":820,"y":120,"wires":[{"id":"e57b531b92c77908","port":1}]},{"x":820,"y":180,"wires":[{"id":"e57b531b92c77908","port":2}]}],"env":[],"meta":{},"color":"#3FADB5","outputLabels":["Added kms","Nothing found","Valid"],"status":{"x":820,"y":240,"wires":[{"id":"91abcb464c7538d1","port":0}]}},{"id":"e57b531b92c77908","type":"function","z":"a277764053ecd65e","name":"#Postos","func":"if (msg.payload.length > 0) {\n    node.status({fill:\"green\",shape:\"dot\",text: msg.config.distancia + \"km\"});\n    return [null, null, msg];\n}\nelse {\n    if (msg.config.distancia < 50) {\n        node.status({fill:\"yellow\",shape:\"ring\",text: \"\"});\n        msg.config.distancia = msg.config.distancia * 2;\n        return [msg, null, null];\n    }\n    else {\n        node.status({fill:\"red\",shape:\"dot\",text: \"Sem postos no raio de \" + msg.config.distancia + \"km\"});\n        return [null, msg, null];\n    }\n}\n\n","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":140,"wires":[[],[],[]]},{"id":"91abcb464c7538d1","type":"function","z":"a277764053ecd65e","name":"#Postos Status","func":"if (msg.payload.length > 0) {\n    msg.payload = ({fill:\"green\",shape:\"dot\",text: msg.config.distancia + \"km\"});\n}\nelse {\n    if (msg.config.distancia < 50) {\n        msg.payload = ({fill:\"yellow\",shape:\"ring\",text: \"\"});\n        msg.config.distancia = msg.config.distancia * 2;\n    }\n    else {\n        msg.payload = ({fill:\"red\",shape:\"dot\",text: \"Sem postos no raio de \" + msg.config.distancia + \"km\"});\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":200,"wires":[[]]},{"id":"21213a59db6b0bf0","type":"subflow","name":"Get Marcas","info":"","category":"Combustiveis","in":[{"x":180,"y":160,"wires":[{"id":"96c734458d45a674"}]}],"out":[{"x":680,"y":160,"wires":[{"id":"87a22345e5f777a9","port":0}]}],"env":[],"meta":{},"color":"#3FADB5","status":{"x":780,"y":320,"wires":[{"id":"ac95d9cce8c465fc","port":0}]}},{"id":"96c734458d45a674","type":"function","z":"21213a59db6b0bf0","name":"","func":"\nmsg.topic = \"SELECT DISTINCT posto.marca FROM `posto` ORDER BY posto.marca ASC;\";\nmsg.payload = {};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":160,"wires":[["87a22345e5f777a9"]]},{"id":"87a22345e5f777a9","type":"Stackhero-MySQL","z":"21213a59db6b0bf0","server":"ea2d8dc75219d056","name":"","x":510,"y":160,"wires":[["ac95d9cce8c465fc"]]},{"id":"ac95d9cce8c465fc","type":"function","z":"21213a59db6b0bf0","name":"set status","func":"var options = {  month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' };\nvar today  = new Date();\n\nvar text = today.toLocaleDateString(\"pt-PT\", options);\n\nmsg.payload = ({fill:\"green\",shape:\"dot\",text:text});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":320,"wires":[[]]},{"id":"0984cfd6e24e1c40","type":"subflow","name":"Create Tables","info":"","category":"Combustiveis","in":[{"x":240,"y":200,"wires":[{"id":"7d244422e3e075b2"},{"id":"40beeb80bad6ad61"}]}],"out":[{"x":840,"y":200,"wires":[{"id":"da244f557013d852","port":0}]},{"x":840,"y":260,"wires":[{"id":"1858da97a5c01016","port":0}]}],"env":[],"meta":{},"color":"#3FADB5","status":{"x":1140,"y":500,"wires":[{"id":"1cbed0fe5394d9e6","port":0}]}},{"id":"7d244422e3e075b2","type":"function","z":"0984cfd6e24e1c40","name":"Create Table posto","func":"\n\nmsg.topic = \"CREATE TABLE IF NOT EXISTS posto (id int, nome varchar(255), marca varchar(255), distrito varchar(255), municipio varchar(255), localidade varchar(255), codpostal varchar(8), morada varchar(500), latitude decimal(15,12), longitude decimal(15,12), dataatualizacao datetime, updatedon timestamp, primary key(id));\";\nmsg.payload = {};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":200,"wires":[["da244f557013d852"]]},{"id":"da244f557013d852","type":"Stackhero-MySQL","z":"0984cfd6e24e1c40","server":"ea2d8dc75219d056","name":"","x":680,"y":200,"wires":[["b4b8dc30376527a1"]]},{"id":"40beeb80bad6ad61","type":"function","z":"0984cfd6e24e1c40","name":"Create Table preco","func":"\n\nmsg.topic = \"CREATE TABLE IF NOT EXISTS preco (id int NOT NULL AUTO_INCREMENT, postoid int, tipocombustivelid varchar(255), preco decimal(5,4), dataatualizacao datetime, updatedon timestamp, primary key(id), constraint fk_posto foreign key(postoid) references posto(id), constraint fk_tipocombustivel foreign key(tipocombustivelid) references tipo_combustiveis(id), UNIQUE INDEX posto_combustivel_idx (postoid, tipocombustivelid));\";\nmsg.payload = {};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":260,"wires":[["1858da97a5c01016"]]},{"id":"1858da97a5c01016","type":"Stackhero-MySQL","z":"0984cfd6e24e1c40","server":"ea2d8dc75219d056","name":"","x":680,"y":260,"wires":[["b4b8dc30376527a1"]]},{"id":"1cbed0fe5394d9e6","type":"function","z":"0984cfd6e24e1c40","name":"set status","func":"var options = {  month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' };\nvar today  = new Date();\n\nvar text = today.toLocaleDateString(\"pt-PT\", options);\n\nmsg.payload = ({fill:\"green\",shape:\"dot\",text:text});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":500,"wires":[[]]},{"id":"b4b8dc30376527a1","type":"join","z":"0984cfd6e24e1c40","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":870,"y":500,"wires":[["1cbed0fe5394d9e6"]]},{"id":"69284ad01f6bc518","type":"subflow","name":"Precos","info":"","category":"Combustiveis","in":[{"x":340,"y":200,"wires":[{"id":"40c0e4c0ac29fe7d"},{"id":"69e8d577b08395e0"}]}],"out":[{"x":940,"y":200,"wires":[{"id":"1f8bf8d187e918aa","port":0}]}],"env":[],"meta":{},"color":"#3FADB5","status":{"x":920,"y":400,"wires":[{"id":"69e8d577b08395e0","port":0},{"id":"2cbdde297f2c02ea","port":0}]}},{"id":"40c0e4c0ac29fe7d","type":"function","z":"69284ad01f6bc518","name":"SELECT","func":"// ###### Não alterar nada a partir deste ponto ##############\n\nconst globalHomeAssistant = global.get('homeassistant');\nconst ha = globalHomeAssistant.homeAssistant;\nconst entity = ha.states[msg.config.entity_id];\n\nmsg.topic = \"WITH Desconto(marca, valor) AS ( SELECT :Marca0, :Desconto0 UNION SELECT :Marca1, :Desconto1 UNION SELECT :Marca2, :Desconto2) SELECT T.MarcaPosto, T.Nome, T.Marca, T.TipoCombustivel, T.PrecoDesconto, T.Preco, T.Distancia, T.Latitude, T.Longitude FROM ( SELECT posto.Nome, posto.Marca, CASE WHEN LOCATE(posto.Marca, posto.Nome) = 0 THEN CONCAT(posto.Marca, ' - ', posto.Nome) ELSE posto.Nome END AS MarcaPosto, tipo_combustiveis.Label AS TipoCombustivel,   CAST(ROUND(preco.Preco, 3) AS FLOAT) AS Preco, ROUND((ST_DISTANCE_SPHERE(POINT(REPLACE(posto.Longitude, ',', '.'),REPLACE(posto.Latitude, ',', '.')),POINT(:Longitude, :Latitude)) / 1000),3) AS Distancia,CASE WHEN Desconto.marca IS NULL THEN CAST(ROUND(preco.Preco, 3) AS FLOAT) ELSE CAST(ROUND(preco.Preco - Desconto.valor, 3) AS FLOAT) END AS PrecoDesconto,tipo_combustiveis.Ord,preco.DataAtualizacao, CAST(posto.Latitude AS float) AS Latitude, CAST(posto.Longitude AS float) AS Longitude FROM preco INNER JOIN posto ON posto.Id = preco.PostoId INNER JOIN tipo_combustiveis ON tipo_combustiveis.Id = preco.TipoCombustivelId INNER JOIN grupo_combustiveis ON grupo_combustiveis.Id = tipo_combustiveis.GrupoId LEFT JOIN Desconto ON posto.Marca = Desconto.marca WHERE grupo_combustiveis.Id = :Combustivel AND posto.marca not in (\" + msg.config.not_marcas + \")) AS T WHERE T.Distancia < :Distancia ORDER BY T.PrecoDesconto ASC, T.Ord ASC, T.Distancia ASC LIMIT 3;\";\nmsg.payload = {\n    \"Longitude\": entity.attributes.longitude,\n    \"Latitude\": entity.attributes.latitude,\n    \"Combustivel\": msg.config.combustivel,\n    \"Distancia\": msg.config.distancia,\n    \"Marca0\": msg.config.descontos[0].marca,\n    \"Desconto0\": msg.config.descontos[0].desconto,\n    \"Marca1\": msg.config.descontos[1].marca,\n    \"Desconto1\": msg.config.descontos[1].desconto,\n    \"Marca2\": msg.config.descontos[2].marca,\n    \"Desconto2\": msg.config.descontos[2].desconto\n}\n\nmsg.combustivel = msg.config.combustivel;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":200,"wires":[["dbb301e9e49c054f"]]},{"id":"dbb301e9e49c054f","type":"Stackhero-MySQL","z":"69284ad01f6bc518","server":"ea2d8dc75219d056","name":"","x":640,"y":200,"wires":[["1f8bf8d187e918aa"]]},{"id":"1f8bf8d187e918aa","type":"function","z":"69284ad01f6bc518","name":"Clear Topic","func":"msg.topic = \"Query\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":200,"wires":[["2cbdde297f2c02ea"]]},{"id":"2cbdde297f2c02ea","type":"function","z":"69284ad01f6bc518","name":"set status","func":"var options = {  month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' };\nvar today  = new Date();\n\nvar text = today.toLocaleDateString(\"pt-PT\", options);\n\nmsg.payload = ({fill:\"green\",shape:\"dot\",text:text});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":360,"wires":[[]]},{"id":"69e8d577b08395e0","type":"function","z":"69284ad01f6bc518","name":"set status 'in progress'","func":"msg.payload = ({fill:\"yellow\",shape:\"ring\",text:\"In progress\"})\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":480,"wires":[[]]},{"id":"2dc83329b5292173","type":"subflow","name":"GetDistritos","info":"","category":"Combustiveis","in":[{"x":100,"y":100,"wires":[{"id":"5aa208a12e1e36fe"}]}],"out":[{"x":620,"y":100,"wires":[{"id":"62ca7bf5865f9a94","port":0}]}],"env":[],"meta":{},"color":"#3FADB5","status":{"x":720,"y":320,"wires":[{"id":"e273137869bec795","port":0}]}},{"id":"5aa208a12e1e36fe","type":"function","z":"2dc83329b5292173","name":"SELECT","func":"msg.topic = \"SELECT * FROM distritos\";\nmsg.payload = {};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":100,"wires":[["62ca7bf5865f9a94"]]},{"id":"62ca7bf5865f9a94","type":"Stackhero-MySQL","z":"2dc83329b5292173","server":"ea2d8dc75219d056","name":"","x":480,"y":100,"wires":[["e273137869bec795"]]},{"id":"e273137869bec795","type":"function","z":"2dc83329b5292173","name":"","func":"var options = {  month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' };\nvar today  = new Date();\n\nvar text = today.toLocaleDateString(\"pt-PT\", options);\n\nmsg.payload = ({fill:\"green\",shape:\"dot\",text:text});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":320,"wires":[[]]},{"id":"04fae60ac68dcf87","type":"subflow","name":"Update Postos","info":"","category":"Combustiveis","in":[{"x":80,"y":180,"wires":[{"id":"80e0f7e33d43d746"},{"id":"05272efced486b06"}]}],"out":[{"x":520,"y":40,"wires":[{"id":"d910019b28954b01","port":1}]}],"env":[],"meta":{},"color":"#3FADB5","status":{"x":960,"y":480,"wires":[{"id":"b50326c70b7ec30e","port":0},{"id":"05272efced486b06","port":0},{"id":"b8a576d439cb58ff","port":0}]}},{"id":"1db5889cb7a5a108","type":"Stackhero-MySQL","z":"04fae60ac68dcf87","server":"ea2d8dc75219d056","name":"","x":840,"y":340,"wires":[["f880441303e3c05e"]]},{"id":"ec337fa2b081c59a","type":"function","z":"04fae60ac68dcf87","name":"","func":"\nmsg.payload.updatedOn = new Date();\nmsg.topic = \"INSERT INTO posto (id, nome, marca, distrito, municipio, localidade, codpostal, morada, latitude, longitude, dataatualizacao, updatedon) VALUES (:Id, :Nome, :Marca, :Distrito, :Municipio, :Localidade, :CodPostal, :Morada, :Latitude, :Longitude, :DataAtualizacao, :updatedOn) ON DUPLICATE KEY UPDATE nome=:Nome, marca=:Marca, distrito=:Distrito, municipio=:Municipio, localidade=:Localidade, codpostal=:CodPostal, morada=:Morada, latitude=:Latitude, longitude=:Longitude, dataatualizacao=:DataAtualizacao, updatedon=:updatedOn\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":340,"wires":[["1db5889cb7a5a108"]]},{"id":"163e8664061d60a2","type":"function","z":"04fae60ac68dcf87","name":"","func":"msg.payload = msg.payload.resultado;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":340,"wires":[["f880441303e3c05e"]]},{"id":"80e0f7e33d43d746","type":"subflow:2dc83329b5292173","z":"04fae60ac68dcf87","name":"","x":230,"y":180,"wires":[["d910019b28954b01"]]},{"id":"c2c9da89408eeacf","type":"http request","z":"04fae60ac68dcf87","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":730,"y":180,"wires":[["163e8664061d60a2"]]},{"id":"651980d009f1e3ef","type":"function","z":"04fae60ac68dcf87","name":"","func":"msg.url = \"https://precoscombustiveis.dgeg.gov.pt/api/PrecoComb/PesquisarPostos?idsTiposComb=3400%2C3205%2C3405%2C3201%2C2105%2C2101%2C1120&idDistrito=\" + msg.payload.id + \"&qtdPorPagina=10000\"\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":180,"wires":[["c2c9da89408eeacf"]]},{"id":"d910019b28954b01","type":"function","z":"04fae60ac68dcf87","name":"Iterate","func":"//Node has 2 outputs - 1 for itteration and 1 for completion\nvar nextObj, out;\nvar itt = msg.iterationInfo;\n\n\n//If the iterating has not yet begun set up the iteration metadata in the msg\nif (typeof itt === 'undefined') {\n    //Make sure payload is an array\n    if( Object.prototype.toString.call(msg.payload) !== '[object Array]' ) {\n       msg.payload = [msg.payload];\n    }\n\n    msg.iterationInfo = itt = {};\n    itt.index = -1;\n    itt.inArray = msg.payload;\n    itt.outArray = [];\n\n//Otherwise just push the input to the output array\n} else {\n    itt.outArray.push(msg.payload)\n}\n\n//Goto next object\nitt.index ++;\n\n//If there are stil objects left to iterate goto the next one in the original array\nif (itt.index < itt.inArray.length) {\n    nextObj = msg;\n    msg.payload = itt.inArray[itt.index];\n\n//otherwise pass the out array as the payload\n} else {\n    out = msg;\n    msg.payload = itt.outArray;\n    delete msg.iterationInfo;\n}\n\nreturn [nextObj, out];","outputs":"2","noerr":0,"x":390,"y":180,"wires":[["651980d009f1e3ef"],["b50326c70b7ec30e"]]},{"id":"f880441303e3c05e","type":"function","z":"04fae60ac68dcf87","name":"Iterate2","func":"//Node has 2 outputs - 1 for itteration and 1 for completion\nvar nextObj, out;\nvar itt = msg.iterationInfo2;\n\n\n//If the iterating has not yet begun set up the iteration metadata in the msg\nif (typeof itt === 'undefined') {\n    //Make sure payload is an array\n    if( Object.prototype.toString.call(msg.payload) !== '[object Array]' ) {\n       msg.payload = [msg.payload];\n    }\n\n    msg.iterationInfo2 = itt = {};\n    itt.index = -1;\n    itt.inArray = msg.payload;\n    itt.outArray = [];\n\n//Otherwise just push the input to the output array\n} else {\n    itt.outArray.push(msg.payload)\n}\n\n//Goto next object\nitt.index ++;\n\n//If there are stil objects left to iterate goto the next one in the original array\nif (itt.index < itt.inArray.length) {\n    nextObj = msg;\n    msg.payload = itt.inArray[itt.index];\n\n//otherwise pass the out array as the payload\n} else {\n    out = msg;\n    msg.payload = itt.outArray;\n    delete msg.iterationInfo2;\n}\n\nreturn [nextObj, out];","outputs":"2","noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":340,"wires":[["ec337fa2b081c59a","b8a576d439cb58ff"],["d910019b28954b01"]]},{"id":"b50326c70b7ec30e","type":"function","z":"04fae60ac68dcf87","name":"set status","func":"var options = {  month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' };\nvar today  = new Date();\n\nvar text = \"Finished - \" + today.toLocaleDateString(\"pt-PT\", options);\n\nmsg.payload = ({fill:\"green\",shape:\"dot\",text:text});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":440,"wires":[[]]},{"id":"05272efced486b06","type":"function","z":"04fae60ac68dcf87","name":"set status `in progress`","func":"msg.payload = ({fill:\"yellow\",shape:\"ring\",text:\"In progress\"})\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":640,"wires":[[]]},{"id":"b8a576d439cb58ff","type":"function","z":"04fae60ac68dcf87","name":"set status `in progress`","func":"var text = \"In progress - \" + (msg.iterationInfo.index+1) + \"/\" + msg.iterationInfo.inArray.length + \" - \" + msg.payload.Distrito + \" - \" + (msg.iterationInfo2.index+1) + \"/\" + msg.iterationInfo2.inArray.length;\n\nmsg.payload = ({fill:\"yellow\",shape:\"ring\",text:text})\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":560,"wires":[[]]},{"id":"2c0d2fc0047fdc46","type":"subflow","name":"Update Precos from DGEG","info":"","category":"Combustiveis","in":[{"x":100,"y":120,"wires":[{"id":"7565c6ad35b74d5a"},{"id":"a6e4c46380ab3f99"}]}],"out":[{"x":1240,"y":40,"wires":[{"id":"5fcaec94e9f36849","port":0}]}],"env":[],"meta":{},"color":"#3FADB5","status":{"x":960,"y":760,"wires":[{"id":"06e7a7aed201f8ea","port":0},{"id":"a6e4c46380ab3f99","port":0},{"id":"9042718e8faa0500","port":0}]}},{"id":"7565c6ad35b74d5a","type":"function","z":"2c0d2fc0047fdc46","name":"SELECT","func":"msg.topic = \"SELECT * FROM posto\";\nmsg.payload = {};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":120,"wires":[["0ff48f7295cdd3b5"]]},{"id":"0ff48f7295cdd3b5","type":"Stackhero-MySQL","z":"2c0d2fc0047fdc46","server":"ea2d8dc75219d056","name":"","x":440,"y":120,"wires":[["bc3fb112a82e8eed"]]},{"id":"08c546c3a38a0787","type":"function","z":"2c0d2fc0047fdc46","name":"http GetDadosPosto","func":"msg.url = \"https://precoscombustiveis.dgeg.gov.pt/api/PrecoComb/GetDadosPosto?id=\" + msg.payload.id;\nmsg.idposto = msg.payload.id;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":300,"wires":[["5bc336906da6e230"]]},{"id":"5bc336906da6e230","type":"http request","z":"2c0d2fc0047fdc46","name":"Get","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":490,"y":300,"wires":[["4e5ee31070de6502"]]},{"id":"4e5ee31070de6502","type":"function","z":"2c0d2fc0047fdc46","name":"","func":"msg.payload = msg.payload.resultado.Combustiveis;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":300,"wires":[["a53592d910fdc643"]]},{"id":"02b555c098b4c399","type":"function","z":"2c0d2fc0047fdc46","name":"SELECT","func":"msg.topic = \"SELECT * FROM tipo_combustiveis WHERE label = :TipoCombustivel\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":420,"wires":[["7cd31a507b3e1e1e"]]},{"id":"7cd31a507b3e1e1e","type":"Stackhero-MySQL","z":"2c0d2fc0047fdc46","server":"ea2d8dc75219d056","name":"","x":600,"y":420,"wires":[["083d115bfa6cb8c2"]]},{"id":"27a4d6a1aec4da80","type":"function","z":"2c0d2fc0047fdc46","name":"Set Preco{}","func":"msg.preco = {};\nmsg.preco.postoid = msg.payload.id;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":120,"wires":[["08c546c3a38a0787"]]},{"id":"85f8e78d8289da50","type":"function","z":"2c0d2fc0047fdc46","name":"Set Preco{}","func":"//msg.iterate2payload = msg.payload;\n\nmsg.preco.preco = parseFloat(msg.payload.Preco.split(\" \")[0].replace(\",\",\".\"));\nmsg.preco.dataAtualizacao = msg.payload.DataAtualizacao;\nmsg.preco.updatedOn = new Date();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":420,"wires":[["02b555c098b4c399"]]},{"id":"083d115bfa6cb8c2","type":"function","z":"2c0d2fc0047fdc46","name":"Validate TipoCombustivel","func":"if (msg.payload.length > 0) {\n    msg.preco.tipoCombustivel = msg.payload[0].id;\n    return [msg, null];\n}\nelse {\n    return [null, msg];\n}\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":420,"wires":[["d12267321190d631"],["884e55333f42a59e"]]},{"id":"d12267321190d631","type":"function","z":"2c0d2fc0047fdc46","name":"INSERT","func":"\n\nmsg.payload = msg.preco;\nmsg.topic = \"INSERT INTO preco (postoid, tipoCombustivelid, preco, dataatualizacao, updatedon) VALUES (:postoid, :tipoCombustivel, :preco, :dataAtualizacao, :updatedOn) ON DUPLICATE KEY UPDATE preco=:preco, dataatualizacao=:dataAtualizacao, updatedon=:updatedOn\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":560,"wires":[["dcc1263e767d36b5"]]},{"id":"dcc1263e767d36b5","type":"Stackhero-MySQL","z":"2c0d2fc0047fdc46","server":"ea2d8dc75219d056","name":"","x":500,"y":560,"wires":[["884e55333f42a59e"]]},{"id":"884e55333f42a59e","type":"link out","z":"2c0d2fc0047fdc46","name":"","mode":"link","links":["3bcfaf0eabd1f693"],"x":1035,"y":560,"wires":[]},{"id":"3bcfaf0eabd1f693","type":"link in","z":"2c0d2fc0047fdc46","name":"","links":["884e55333f42a59e"],"x":655,"y":260,"wires":[["a53592d910fdc643"]]},{"id":"788ce711f1b3e956","type":"link out","z":"2c0d2fc0047fdc46","name":"","mode":"link","links":["8393f6ff238a7e71"],"x":975,"y":300,"wires":[]},{"id":"8393f6ff238a7e71","type":"link in","z":"2c0d2fc0047fdc46","name":"","links":["788ce711f1b3e956"],"x":555,"y":80,"wires":[["bc3fb112a82e8eed"]]},{"id":"bc3fb112a82e8eed","type":"function","z":"2c0d2fc0047fdc46","name":"Iterate","func":"//Node has 2 outputs - 1 for itteration and 1 for completion\nvar nextObj, out;\nvar itt = msg.iterationInfo;\n\n\n//If the iterating has not yet begun set up the iteration metadata in the msg\nif (typeof itt === 'undefined') {\n    //Make sure payload is an array\n    if( Object.prototype.toString.call(msg.payload) !== '[object Array]' ) {\n       msg.payload = [msg.payload];\n    }\n\n    msg.iterationInfo = itt = {};\n    itt.index = -1;\n    itt.inArray = msg.payload;\n    itt.outArray = [];\n\n//Otherwise just push the input to the output array\n} else {\n    itt.outArray.push(msg.payload)\n}\n\n//Goto next object\nitt.index ++;\n\n//If there are stil objects left to iterate goto the next one in the original array\nif (itt.index < itt.inArray.length) {\n    nextObj = msg;\n    msg.payload = itt.inArray[itt.index];\n\n//otherwise pass the out array as the payload\n} else {\n    out = msg;\n    msg.payload = itt.outArray;\n    delete msg.iterationInfo;\n}\n\nreturn [nextObj, out];","outputs":"2","noerr":0,"x":670,"y":120,"wires":[["27a4d6a1aec4da80","9042718e8faa0500"],["5fcaec94e9f36849","06e7a7aed201f8ea"]]},{"id":"a53592d910fdc643","type":"function","z":"2c0d2fc0047fdc46","name":"Iterate2","func":"//Node has 2 outputs - 1 for itteration and 1 for completion\nvar nextObj, out;\nvar itt = msg.iterationInfo2;\n\n\n//If the iterating has not yet begun set up the iteration metadata in the msg\nif (typeof itt === 'undefined') {\n    //Make sure payload is an array\n    if( Object.prototype.toString.call(msg.payload) !== '[object Array]' ) {\n       msg.payload = [msg.payload];\n    }\n\n    msg.iterationInfo2 = itt = {};\n    itt.index = -1;\n    itt.inArray = msg.payload;\n    itt.outArray = [];\n\n//Otherwise just push the input to the output array\n} else {\n    itt.outArray.push(msg.payload)\n}\n\n//Goto next object\nitt.index ++;\n\n//If there are stil objects left to iterate goto the next one in the original array\nif (itt.index < itt.inArray.length) {\n    nextObj = msg;\n    msg.payload = itt.inArray[itt.index];\n\n//otherwise pass the out array as the payload\n} else {\n    out = msg;\n    msg.payload = itt.outArray;\n    delete msg.iterationInfo2;\n}\n\nreturn [nextObj, out];","outputs":"2","noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":300,"wires":[["85f8e78d8289da50"],["788ce711f1b3e956"]]},{"id":"5fcaec94e9f36849","type":"function","z":"2c0d2fc0047fdc46","name":"Set output","func":"msg.payload = \"Precos atualizados\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":80,"wires":[[]]},{"id":"06e7a7aed201f8ea","type":"function","z":"2c0d2fc0047fdc46","name":"set status","func":"var options = {  month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' };\nvar today  = new Date();\n\nvar text = \"Finished - \" + today.toLocaleDateString(\"pt-PT\", options);\n\nmsg.payload = ({fill:\"green\",shape:\"dot\",text:text});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":660,"wires":[[]]},{"id":"a6e4c46380ab3f99","type":"function","z":"2c0d2fc0047fdc46","name":"set status","func":"msg.payload = ({fill:\"yellow\",shape:\"ring\",text:\"In progress\"})\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":780,"wires":[[]]},{"id":"9042718e8faa0500","type":"function","z":"2c0d2fc0047fdc46","name":"set status","func":"var text = \"In progress - \" + (msg.iterationInfo.index+1) + \"/\" + msg.iterationInfo.inArray.length;\n\nmsg.payload = ({fill:\"yellow\",shape:\"ring\",text:text});\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":720,"wires":[[]]},{"id":"a8e155f1e2fcbf35","type":"subflow","name":"Insert RefData","info":"","category":"Combustiveis","in":[{"x":140,"y":100,"wires":[{"id":"ef0758b2104e4ca6"},{"id":"1e924901d3e3d6b9"}]}],"out":[{"x":1800,"y":500,"wires":[{"id":"4280eaec47fd175d","port":0}]}],"env":[],"meta":{},"color":"#3FADB5","status":{"x":1900,"y":420,"wires":[{"id":"fd7ce0be983cc1b0","port":0},{"id":"1e924901d3e3d6b9","port":0}]}},{"id":"ef0758b2104e4ca6","type":"function","z":"a8e155f1e2fcbf35","name":"Create/Check GrupoCombustiveis Table","func":"msg.topic = \"CREATE TABLE IF NOT EXISTS grupo_combustiveis (id varchar(255), label varchar(255), ord int, primary key(id));\";\nmsg.payload = {};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":120,"wires":[["1a84c8083bb8bf82"]]},{"id":"1a84c8083bb8bf82","type":"Stackhero-MySQL","z":"a8e155f1e2fcbf35","server":"ea2d8dc75219d056","name":"","x":680,"y":120,"wires":[["74969057f4b6d3e5"]]},{"id":"3c3483d185908957","type":"function","z":"a8e155f1e2fcbf35","name":"Create/Check TipoCombustiveis Table","func":"\n\nmsg.topic = \"CREATE TABLE IF NOT EXISTS tipo_combustiveis (id varchar(255), label varchar(255), code int, ord int, grupoid varchar(255), primary key(id), constraint fk_type foreign key(grupoid) references grupo_combustiveis(id));\";\nmsg.payload = {};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":360,"wires":[["95d0de70407033b4"]]},{"id":"95d0de70407033b4","type":"Stackhero-MySQL","z":"a8e155f1e2fcbf35","server":"ea2d8dc75219d056","name":"","x":680,"y":360,"wires":[["b0a094078dbc79ed"]]},{"id":"fd7ce0be983cc1b0","type":"function","z":"a8e155f1e2fcbf35","name":"set status","func":"var options = {  month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' };\nvar today  = new Date();\n\nvar text = today.toLocaleDateString(\"pt-PT\", options);\n\nmsg.payload = ({fill:\"green\",shape:\"dot\",text:text});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1740,"y":400,"wires":[[]]},{"id":"74969057f4b6d3e5","type":"function","z":"a8e155f1e2fcbf35","name":"INSERT","func":"msg.topic = \"INSERT INTO grupo_combustiveis (id, label, ord) VALUES (:id, :label, :order) ON DUPLICATE KEY UPDATE label=:label, ord=:order;\";\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":120,"wires":[["1db117ce56030c6f","924b90929f453670","c19b56ae1daba2d8"]]},{"id":"1db117ce56030c6f","type":"function","z":"a8e155f1e2fcbf35","name":"DIESEL","func":"msg.payload = {\n    \"id\": \"DIESEL\",\n    \"label\": \"Gasóleo\",\n    \"order\": 1\n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":120,"wires":[["16801af38ca759b0"]]},{"id":"16801af38ca759b0","type":"Stackhero-MySQL","z":"a8e155f1e2fcbf35","server":"ea2d8dc75219d056","name":"","x":1260,"y":160,"wires":[["dd2cc08b80748bba"]]},{"id":"924b90929f453670","type":"function","z":"a8e155f1e2fcbf35","name":"GASOLINA","func":"msg.payload = {\n    \"id\": \"GASOLINA\",\n    \"label\": \"Gasolina\",\n    \"order\": 2\n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":160,"wires":[["16801af38ca759b0"]]},{"id":"c19b56ae1daba2d8","type":"function","z":"a8e155f1e2fcbf35","name":"GPL","func":"msg.payload = {\n    \"id\": \"GPL\",\n    \"label\": \"GPL\",\n    \"order\": 3\n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":200,"wires":[["16801af38ca759b0"]]},{"id":"dd2cc08b80748bba","type":"join","z":"a8e155f1e2fcbf35","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1450,"y":160,"wires":[["3c3483d185908957"]]},{"id":"b0a094078dbc79ed","type":"function","z":"a8e155f1e2fcbf35","name":"INSERT","func":"msg.topic = \"INSERT INTO tipo_combustiveis (id, label, code, ord, grupoid) VALUES (:id, :label, :code, :ord, :grupoid) ON DUPLICATE KEY UPDATE label=:label, code=:code, ord=:ord, grupoid=:grupoid;\";\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":360,"wires":[["e39b538246ee7d68","67cc5adaa7450e72","d0f8162364cab828","4a69117eb88f05a2","0ad2ced7827f72c6","088c6adaebaa56c0","0c63b3b893ebfe16"]]},{"id":"e39b538246ee7d68","type":"function","z":"a8e155f1e2fcbf35","name":"GasoleoAditivado","func":"msg.payload = {\n    \"id\": 'GasoleoAditivado',\n    \"label\": 'Gasóleo especial',\n    \"code\": 2105,\n    \"ord\": 1,\n    \"grupoid\": 'DIESEL'\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":360,"wires":[["229f4c7a4d9c71cc"]]},{"id":"67cc5adaa7450e72","type":"function","z":"a8e155f1e2fcbf35","name":"GasoleoSimples","func":"msg.payload = {\n    \"id\": 'GasoleoSimples',\n    \"label\": 'Gasóleo simples',\n    \"code\": 2101,\n    \"ord\": 2,\n    \"grupoid\": 'DIESEL'\n};\n\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":400,"wires":[["229f4c7a4d9c71cc"]]},{"id":"d0f8162364cab828","type":"function","z":"a8e155f1e2fcbf35","name":"Gasolina95Aditivada","func":"msg.payload = {\n    \"id\": 'Gasolina95Aditivada',\n    \"label\": 'Gasolina especial 95',\n    \"code\": 3205,\n    \"ord\": 5,\n    \"grupoid\": 'GASOLINA'\n};\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":440,"wires":[["229f4c7a4d9c71cc"]]},{"id":"4a69117eb88f05a2","type":"function","z":"a8e155f1e2fcbf35","name":"Gasolina95Simples","func":"msg.payload = {\n    \"id\": 'Gasolina95Simples',\n    \"label\": 'Gasolina simples 95',\n    \"code\": 3201,\n    \"ord\": 6,\n    \"grupoid\": 'GASOLINA'\n};\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":480,"wires":[["229f4c7a4d9c71cc"]]},{"id":"0ad2ced7827f72c6","type":"function","z":"a8e155f1e2fcbf35","name":"Gasolina98","func":"msg.payload = {\n    \"id\": 'Gasolina98',\n    \"label\": 'Gasolina 98',\n    \"code\": 3400,\n    \"ord\": 4,\n    \"grupoid\": 'GASOLINA'\n};\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":520,"wires":[["229f4c7a4d9c71cc"]]},{"id":"088c6adaebaa56c0","type":"function","z":"a8e155f1e2fcbf35","name":"Gasolina98Especial","func":"msg.payload = {\n    \"id\": 'Gasolina98Especial',\n    \"label\": 'Gasolina especial 98',\n    \"code\": 3405,\n    \"ord\": 3,\n    \"grupoid\": 'GASOLINA'\n};\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":560,"wires":[["229f4c7a4d9c71cc"]]},{"id":"0c63b3b893ebfe16","type":"function","z":"a8e155f1e2fcbf35","name":"GPLAuto","func":"msg.payload = {\n    \"id\": 'GPLAuto',\n    \"label\": 'GPL Auto',\n    \"code\": 1120,\n    \"ord\": 7,\n    \"grupoid\": 'GPL'\n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":600,"wires":[["229f4c7a4d9c71cc"]]},{"id":"229f4c7a4d9c71cc","type":"Stackhero-MySQL","z":"a8e155f1e2fcbf35","server":"ea2d8dc75219d056","name":"","x":1300,"y":480,"wires":[["4280eaec47fd175d"]]},{"id":"4280eaec47fd175d","type":"join","z":"a8e155f1e2fcbf35","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"7","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1470,"y":480,"wires":[["fd7ce0be983cc1b0"]]},{"id":"1e924901d3e3d6b9","type":"function","z":"a8e155f1e2fcbf35","name":"set status 'in progress'","func":"msg.payload = ({fill:\"yellow\",shape:\"ring\",text:\"In progress\"});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":360,"wires":[[]]},{"id":"3cbddb9615bc85d3","type":"subflow","name":"Create/Check Distritos Table","info":"","category":"Combustiveis","in":[{"x":100,"y":200,"wires":[{"id":"1c31db86b3b24a33"}]}],"out":[{"x":740,"y":200,"wires":[{"id":"bf1abedd2006e228","port":0}]}],"env":[],"meta":{},"color":"#3FADB5"},{"id":"1c31db86b3b24a33","type":"function","z":"3cbddb9615bc85d3","name":"Create/Check Distritos Table","func":"msg.topic = \"CREATE TABLE IF NOT EXISTS distritos (id int, descritivo varchar(255), primary key(id));\";\nmsg.payload = {};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":200,"wires":[["bf1abedd2006e228"]]},{"id":"bf1abedd2006e228","type":"Stackhero-MySQL","z":"3cbddb9615bc85d3","server":"ea2d8dc75219d056","name":"","x":590,"y":200,"wires":[[]]},{"id":"ea2d8dc75219d056","type":"Stackhero-MySQL-Server","name":"ha-combustiveis","host":"core-mariadb","port":"3306","tls":false,"database":"combustiveis"},{"id":"02505ec6a594f29c","type":"subflow","name":"Update Distritos","info":"","category":"Combustiveis","in":[{"x":60,"y":100,"wires":[{"id":"3de2b97cb55c2510"},{"id":"f59b8d6d4938d862"}]}],"out":[{"x":1020,"y":240,"wires":[{"id":"048467eb745ee398","port":1}]}],"env":[],"meta":{},"color":"#3FADB5","status":{"x":1040,"y":320,"wires":[{"id":"7eeefb96a693f283","port":0},{"id":"f59b8d6d4938d862","port":0}]}},{"id":"3de2b97cb55c2510","type":"subflow:3cbddb9615bc85d3","z":"02505ec6a594f29c","name":"","x":240,"y":100,"wires":[["bc3a2f8980036a7f"]]},{"id":"bc3a2f8980036a7f","type":"http request","z":"02505ec6a594f29c","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://precoscombustiveis.dgeg.gov.pt/api/PrecoComb/GetDistritos","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":470,"y":100,"wires":[["319b6d7ed40463ce"]]},{"id":"319b6d7ed40463ce","type":"function","z":"02505ec6a594f29c","name":"Set payload","func":"msg.payload = msg.payload.resultado;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":100,"wires":[["048467eb745ee398"]]},{"id":"3ed97ed407c6fbfc","type":"function","z":"02505ec6a594f29c","name":"Insert into","func":"msg.topic = \"INSERT INTO distritos (id, descritivo) VALUES (:Id, :Descritivo) ON DUPLICATE KEY UPDATE descritivo=:Descritivo\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":100,"wires":[["a0e7e126573181af"]]},{"id":"048467eb745ee398","type":"function","z":"02505ec6a594f29c","name":"Iterate","func":"//Node has 2 outputs - 1 for itteration and 1 for completion\nvar nextObj, out;\nvar itt = msg.iterationInfo;\n\n\n//If the iterating has not yet begun set up the iteration metadata in the msg\nif (typeof itt === 'undefined') {\n    //Make sure payload is an array\n    if( Object.prototype.toString.call(msg.payload) !== '[object Array]' ) {\n       msg.payload = [msg.payload];\n    }\n\n    msg.iterationInfo = itt = {};\n    itt.index = -1;\n    itt.inArray = msg.payload;\n    itt.outArray = [];\n\n//Otherwise just push the input to the output array\n} else {\n    itt.outArray.push(msg.payload)\n}\n\n//Goto next object\nitt.index ++;\n\n//If there are stil objects left to iterate goto the next one in the original array\nif (itt.index < itt.inArray.length) {\n    nextObj = msg;\n    msg.payload = itt.inArray[itt.index];\n\n//otherwise pass the out array as the payload\n} else {\n    out = msg;\n    msg.payload = itt.outArray;\n    delete msg.iterationInfo;\n}\n\nreturn [nextObj, out];","outputs":"2","noerr":0,"x":830,"y":100,"wires":[["3ed97ed407c6fbfc"],["7eeefb96a693f283"]]},{"id":"a0e7e126573181af","type":"Stackhero-MySQL","z":"02505ec6a594f29c","server":"ea2d8dc75219d056","name":"","x":1180,"y":100,"wires":[["048467eb745ee398"]]},{"id":"7eeefb96a693f283","type":"function","z":"02505ec6a594f29c","name":"Set Output Finished","func":"var options = {  month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' };\nvar today  = new Date();\n\nvar text = \"Finished - \" + today.toLocaleDateString(\"pt-PT\", options);\n\nmsg.payload = ({fill:\"green\",shape:\"dot\",text:text});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":280,"wires":[[]]},{"id":"f59b8d6d4938d862","type":"function","z":"02505ec6a594f29c","name":"Set Output","func":"msg.payload = ({fill:\"yellow\",shape:\"ring\",text:\"In progress\"})\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":320,"wires":[[]]},{"id":"0125064f77aca2a5","type":"tab","label":"HA-Combustiveis","disabled":false,"info":"","env":[]},{"id":"95f70b2cb7b5967f","type":"inject","z":"0125064f77aca2a5","name":"Sunday 02:30","props":[],"repeat":"","crontab":"30 02 * * 0","once":false,"onceDelay":0.1,"topic":"","x":140,"y":240,"wires":[["f4a028c1cffb4374"]]},{"id":"f4a028c1cffb4374","type":"subflow:02505ec6a594f29c","z":"0125064f77aca2a5","name":"","x":340,"y":240,"wires":[[]]},{"id":"8e3a269c2e5e32ce","type":"subflow:a8e155f1e2fcbf35","z":"0125064f77aca2a5","name":"","x":380,"y":100,"wires":[["6da639f561211cbc"]]},{"id":"9acf055402891936","type":"inject","z":"0125064f77aca2a5","name":"One Time Only","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":100,"wires":[["8e3a269c2e5e32ce"]]},{"id":"22522fc45bc98837","type":"comment","z":"0125064f77aca2a5","name":"Correr apenas 1 vez, para criar as tabelas na BD e os dados de referência","info":"Correr apenas 1 vez, para criar os dados de referência","x":300,"y":60,"wires":[]},{"id":"f4a4525f8eaf6246","type":"inject","z":"0125064f77aca2a5","name":"00:20","props":[{"p":"timestamp","v":"","vt":"date"}],"repeat":"","crontab":"20 00 * * *","once":false,"onceDelay":0.1,"topic":"","x":120,"y":460,"wires":[["ae6521bbe34a5317"]]},{"id":"ddb2fb6957cad3ba","type":"inject","z":"0125064f77aca2a5","name":"Every 2 hours","props":[{"p":"timestamp","v":"","vt":"date"}],"repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":500,"wires":[["ae6521bbe34a5317"]]},{"id":"ae6521bbe34a5317","type":"subflow:2c0d2fc0047fdc46","z":"0125064f77aca2a5","name":"","x":390,"y":460,"wires":[["45ccfac912bf1802"]]},{"id":"5c54bca78e138542","type":"link in","z":"0125064f77aca2a5","name":"","links":["d576660d942b0886","45ccfac912bf1802"],"x":215,"y":780,"wires":[["23ffe8e513102a34","a09c6b64f1f82b8a"]]},{"id":"ab4a4366df73e068","type":"ha-entity","z":"0125064f77aca2a5","name":"Gasóleo Top 3 (Casa)","server":"32c071b0.4a2c6e","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Gasóleo Top 3 (Casa)"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"combustivel","stateType":"msg","attributes":[{"property":"Postos","value":"payload","valueType":"msg"}],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1360,"y":740,"wires":[[]]},{"id":"75a6ba8f17ab9994","type":"ha-entity","z":"0125064f77aca2a5","name":"Gasóleo (Casa)","server":"32c071b0.4a2c6e","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Gasóleo (Casa)"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"state","stateType":"msg","attributes":[{"property":"MarcaPosto","value":"payload[0].MarcaPosto","valueType":"msg"},{"property":"Nome","value":"payload[0].Nome","valueType":"msg"},{"property":"Marca","value":"payload[0].Marca","valueType":"msg"},{"property":"TipoCombustivel","value":"payload[0].TipoCombustivel","valueType":"msg"},{"property":"PrecoDesconto","value":"payload[0].PrecoDesconto","valueType":"msg"},{"property":"Preco","value":"payload[0].Preco","valueType":"msg"},{"property":"Distancia","value":"payload[0].Distancia","valueType":"msg"},{"property":"Latitude","value":"payload[0].Latitude","valueType":"msg"},{"property":"Longitude","value":"payload[0].Longitude","valueType":"msg"}],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1700,"y":760,"wires":[[]]},{"id":"91310b80a37d37e3","type":"function","z":"0125064f77aca2a5","name":"","func":"var payload = msg.payload;\n\nmsg.state = msg.payload[0].MarcaPosto + \" - \" + msg.payload[0].Distancia + \"km\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1540,"y":760,"wires":[["75a6ba8f17ab9994"]]},{"id":"d12e6696c439f287","type":"ha-entity","z":"0125064f77aca2a5","name":"Preço Gasóleo (Casa)","server":"32c071b0.4a2c6e","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Preço Gasóleo (Casa)"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:gas-station"},{"property":"unit_of_measurement","value":"€/l"},{"property":"state_class","value":"measurement"},{"property":"last_reset","value":""}],"state":"payload[0].PrecoDesconto","stateType":"msg","attributes":[{"property":"Marca","value":"payload[0].Marca","valueType":"msg"},{"property":"Posto","value":"payload[0].Nome","valueType":"msg"},{"property":"Distancia","value":"payload[0].Distancia","valueType":"msg"},{"property":"Tipo Combustivel","value":"payload[0].TipoCombustivel","valueType":"msg"},{"property":"Preco Desconto","value":"payload[0].PrecoDesconto","valueType":"msg"},{"property":"Preco","value":"payload[0].Preco","valueType":"msg"}],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1140,"y":720,"wires":[[]]},{"id":"1f3869086de76fbc","type":"inject","z":"0125064f77aca2a5","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"20","topic":"","x":190,"y":860,"wires":[["23ffe8e513102a34","a09c6b64f1f82b8a"]]},{"id":"11eed59b1508555b","type":"ha-entity","z":"0125064f77aca2a5","name":"Gasolina Top 3 (Casa)","server":"32c071b0.4a2c6e","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Gasolina Top 3 (Casa)"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"combustivel","stateType":"msg","attributes":[{"property":"Postos","value":"payload","valueType":"msg"}],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1360,"y":840,"wires":[[]]},{"id":"d045d06908a3ee35","type":"ha-entity","z":"0125064f77aca2a5","name":"Gasolina (Casa)","server":"32c071b0.4a2c6e","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Gasolina (Casa)"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"state","stateType":"msg","attributes":[{"property":"MarcaPosto","value":"payload[0].MarcaPosto","valueType":"msg"},{"property":"Nome","value":"payload[0].Nome","valueType":"msg"},{"property":"Marca","value":"payload[0].Marca","valueType":"msg"},{"property":"TipoCombustivel","value":"payload[0].TipoCombustivel","valueType":"msg"},{"property":"PrecoDesconto","value":"payload[0].PrecoDesconto","valueType":"msg"},{"property":"Preco","value":"payload[0].Preco","valueType":"msg"},{"property":"Distancia","value":"payload[0].Distancia","valueType":"msg"},{"property":"Latitude","value":"payload[0].Latitude","valueType":"msg"},{"property":"Longitude","value":"payload[0].Longitude","valueType":"msg"}],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1700,"y":860,"wires":[[]]},{"id":"b1e15538e46db425","type":"function","z":"0125064f77aca2a5","name":"","func":"var payload = msg.payload;\n\nmsg.state = msg.payload[0].MarcaPosto + \" - \" + msg.payload[0].Distancia + \"km\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1540,"y":860,"wires":[["d045d06908a3ee35"]]},{"id":"9b9b3355d76e623f","type":"ha-entity","z":"0125064f77aca2a5","name":"Preço Gasolina (Casa)","server":"32c071b0.4a2c6e","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Preço Gasolina (Casa)"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:gas-station"},{"property":"unit_of_measurement","value":"€/l"},{"property":"state_class","value":"measurement"},{"property":"last_reset","value":""}],"state":"payload[0].PrecoDesconto","stateType":"msg","attributes":[{"property":"Marca","value":"payload[0].Marca","valueType":"msg"},{"property":"Posto","value":"payload[0].Nome","valueType":"msg"},{"property":"Distancia","value":"payload[0].Distancia","valueType":"msg"},{"property":"Tipo Combustivel","value":"payload[0].TipoCombustivel","valueType":"msg"},{"property":"Preco Desconto","value":"payload[0].PrecoDesconto","valueType":"msg"},{"property":"Preco","value":"payload[0].Preco","valueType":"msg"}],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1140,"y":820,"wires":[[]]},{"id":"45ccfac912bf1802","type":"link out","z":"0125064f77aca2a5","name":"","mode":"link","links":["5c54bca78e138542","88b6e487cea23d4d","b67c0757fb67864f"],"x":595,"y":460,"wires":[]},{"id":"2f165590d4ea5d45","type":"comment","z":"0125064f77aca2a5","name":"Corre 1 vez por semana para atualizar lista de Distritos e lista de Postos","info":"Corre 1 vez por semana para atulizar lista de Distritos e lista de Postos","x":290,"y":200,"wires":[]},{"id":"3560e969de3fd153","type":"subflow:04fae60ac68dcf87","z":"0125064f77aca2a5","name":"","x":340,"y":300,"wires":[["d697c73291b21044"]]},{"id":"512f9db09fc5771a","type":"inject","z":"0125064f77aca2a5","name":"Sunday 03:00","props":[{"p":"payload"}],"repeat":"","crontab":"00 03 * * 0","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":140,"y":300,"wires":[["3560e969de3fd153"]]},{"id":"71fee8818172d338","type":"comment","z":"0125064f77aca2a5","name":"Pode demorar vários minutos a correr","info":"Irá depender da máquina onde está instalado o Node-RED assim como da ligação à internet","x":190,"y":420,"wires":[]},{"id":"d3a0a9af660f0542","type":"ha-entity","z":"0125064f77aca2a5","name":"Gasóleo Top 3 (iPhone 13)","server":"32c071b0.4a2c6e","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Gasóleo Top 3 (iPhone 13)"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"combustivel","stateType":"msg","attributes":[{"property":"Postos","value":"payload","valueType":"msg"}],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1420,"y":1060,"wires":[[]]},{"id":"a4623b807a145aae","type":"function","z":"0125064f77aca2a5","name":"","func":"var payload = msg.payload;\n\nmsg.state = msg.payload[0].MarcaPosto + \" - \" + msg.payload[0].Distancia + \"km\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1620,"y":1080,"wires":[["ce094f7418b8406d"]]},{"id":"660c74c1fac7dec2","type":"ha-entity","z":"0125064f77aca2a5","name":"Preço Gasóleo (iPhone 13)","server":"32c071b0.4a2c6e","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Preço Gasóleo (iPhone 13)"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:gas-station"},{"property":"unit_of_measurement","value":"€/l"},{"property":"state_class","value":"measurement"},{"property":"last_reset","value":""}],"state":"payload[0].PrecoDesconto","stateType":"msg","attributes":[{"property":"Marca","value":"payload[0].Marca","valueType":"msg"},{"property":"Posto","value":"payload[0].Nome","valueType":"msg"},{"property":"Distancia","value":"payload[0].Distancia","valueType":"msg"},{"property":"Tipo Combustivel","value":"payload[0].TipoCombustivel","valueType":"msg"},{"property":"Preco Desconto","value":"payload[0].PrecoDesconto","valueType":"msg"},{"property":"Preco","value":"payload[0].Preco","valueType":"msg"}],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1160,"y":1040,"wires":[[]]},{"id":"345dbbd4973f6cfc","type":"inject","z":"0125064f77aca2a5","name":"Every 1 minutes","props":[],"repeat":"60","crontab":"","once":true,"onceDelay":"20","topic":"","x":190,"y":1120,"wires":[["a3fbbc41bc678ae7","510dd63bdfa03acb"]]},{"id":"daf4e19ee95b8970","type":"ha-entity","z":"0125064f77aca2a5","name":"Gasolina Top 3 (iPhone 13)","server":"32c071b0.4a2c6e","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Gasolina Top 3 (iPhone 13)"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"combustivel","stateType":"msg","attributes":[{"property":"Postos","value":"payload","valueType":"msg"}],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1420,"y":1160,"wires":[[]]},{"id":"6a8a4adb1bdbdce8","type":"ha-entity","z":"0125064f77aca2a5","name":"Gasolina (iPhone 13)","server":"32c071b0.4a2c6e","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Gasolina (iPhone 13)"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"state","stateType":"msg","attributes":[{"property":"MarcaPosto","value":"payload[0].MarcaPosto","valueType":"msg"},{"property":"Nome","value":"payload[0].Nome","valueType":"msg"},{"property":"Marca","value":"payload[0].Marca","valueType":"msg"},{"property":"TipoCombustivel","value":"payload[0].TipoCombustivel","valueType":"msg"},{"property":"PrecoDesconto","value":"payload[0].PrecoDesconto","valueType":"msg"},{"property":"Preco","value":"payload[0].Preco","valueType":"msg"},{"property":"Distancia","value":"payload[0].Distancia","valueType":"msg"},{"property":"Latitude","value":"payload[0].Latitude","valueType":"msg"},{"property":"Longitude","value":"payload[0].Longitude","valueType":"msg"}],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1800,"y":1180,"wires":[[]]},{"id":"2eef62427ba33926","type":"function","z":"0125064f77aca2a5","name":"","func":"var payload = msg.payload;\n\nmsg.state = msg.payload[0].MarcaPosto + \" - \" + msg.payload[0].Distancia + \"km\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1620,"y":1180,"wires":[["6a8a4adb1bdbdce8"]]},{"id":"ef25316f251b7ab4","type":"ha-entity","z":"0125064f77aca2a5","name":"Preço Gasolina (iPhone 13)","server":"32c071b0.4a2c6e","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Preço Gasolina (iPhone 13)"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:gas-station"},{"property":"unit_of_measurement","value":"€/l"},{"property":"state_class","value":"measurement"},{"property":"last_reset","value":""}],"state":"payload[0].PrecoDesconto","stateType":"msg","attributes":[{"property":"Marca","value":"payload[0].Marca","valueType":"msg"},{"property":"Posto","value":"payload[0].Nome","valueType":"msg"},{"property":"Distancia","value":"payload[0].Distancia","valueType":"msg"},{"property":"Tipo Combustivel","value":"payload[0].TipoCombustivel","valueType":"msg"},{"property":"Preco Desconto","value":"payload[0].PrecoDesconto","valueType":"msg"},{"property":"Preco","value":"payload[0].Preco","valueType":"msg"}],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1160,"y":1140,"wires":[[]]},{"id":"bf9613201a017b5e","type":"ha-entity","z":"0125064f77aca2a5","name":"Gasóleo Top 3 (Poco X3)","server":"32c071b0.4a2c6e","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Gasóleo Top 3 (Poco X3)"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"combustivel","stateType":"msg","attributes":[{"property":"Postos","value":"payload","valueType":"msg"}],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1390,"y":1320,"wires":[[]]},{"id":"839514bf7d56237c","type":"ha-entity","z":"0125064f77aca2a5","name":"Gasóleo (Poco X3)","server":"32c071b0.4a2c6e","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Gasóleo (Poco X3)"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"state","stateType":"msg","attributes":[{"property":"MarcaPosto","value":"payload[0].MarcaPosto","valueType":"msg"},{"property":"Nome","value":"payload[0].Nome","valueType":"msg"},{"property":"Marca","value":"payload[0].Marca","valueType":"msg"},{"property":"TipoCombustivel","value":"payload[0].TipoCombustivel","valueType":"msg"},{"property":"PrecoDesconto","value":"payload[0].PrecoDesconto","valueType":"msg"},{"property":"Preco","value":"payload[0].Preco","valueType":"msg"},{"property":"Distancia","value":"payload[0].Distancia","valueType":"msg"},{"property":"Latitude","value":"payload[0].Latitude","valueType":"msg"},{"property":"Longitude","value":"payload[0].Longitude","valueType":"msg"}],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1750,"y":1340,"wires":[[]]},{"id":"6fb4b2c277d891eb","type":"function","z":"0125064f77aca2a5","name":"","func":"var payload = msg.payload;\n\nmsg.state = msg.payload[0].MarcaPosto + \" - \" + msg.payload[0].Distancia + \"km\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1580,"y":1340,"wires":[["839514bf7d56237c"]]},{"id":"7ee6947048d9e6d0","type":"ha-entity","z":"0125064f77aca2a5","name":"Preço Gasóleo (Poco X3)","server":"32c071b0.4a2c6e","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Preço Gasóleo (Poco X3)"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:gas-station"},{"property":"unit_of_measurement","value":"€/l"},{"property":"state_class","value":"measurement"},{"property":"last_reset","value":""}],"state":"payload[0].PrecoDesconto","stateType":"msg","attributes":[{"property":"Marca","value":"payload[0].Marca","valueType":"msg"},{"property":"Posto","value":"payload[0].Nome","valueType":"msg"},{"property":"Distancia","value":"payload[0].Distancia","valueType":"msg"},{"property":"Tipo Combustivel","value":"payload[0].TipoCombustivel","valueType":"msg"},{"property":"Preco Desconto","value":"payload[0].PrecoDesconto","valueType":"msg"},{"property":"Preco","value":"payload[0].Preco","valueType":"msg"}],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1150,"y":1300,"wires":[[]]},{"id":"6c4ae5a73e12e4e9","type":"ha-entity","z":"0125064f77aca2a5","name":"Gasolina Top 3 (Poco X3)","server":"32c071b0.4a2c6e","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Gasolina Top 3 (Poco X3)"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"combustivel","stateType":"msg","attributes":[{"property":"Postos","value":"payload","valueType":"msg"}],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1390,"y":1420,"wires":[[]]},{"id":"f8411acbc9d91974","type":"ha-entity","z":"0125064f77aca2a5","name":"Gasolina (Poco X3)","server":"32c071b0.4a2c6e","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Gasolina (Poco X3)"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"state","stateType":"msg","attributes":[{"property":"MarcaPosto","value":"payload[0].MarcaPosto","valueType":"msg"},{"property":"Nome","value":"payload[0].Nome","valueType":"msg"},{"property":"Marca","value":"payload[0].Marca","valueType":"msg"},{"property":"TipoCombustivel","value":"payload[0].TipoCombustivel","valueType":"msg"},{"property":"PrecoDesconto","value":"payload[0].PrecoDesconto","valueType":"msg"},{"property":"Preco","value":"payload[0].Preco","valueType":"msg"},{"property":"Distancia","value":"payload[0].Distancia","valueType":"msg"},{"property":"Latitude","value":"payload[0].Latitude","valueType":"msg"},{"property":"Longitude","value":"payload[0].Longitude","valueType":"msg"}],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1750,"y":1440,"wires":[[]]},{"id":"5dc58bdee378c91f","type":"function","z":"0125064f77aca2a5","name":"","func":"var payload = msg.payload;\n\nmsg.state = msg.payload[0].MarcaPosto + \" - \" + msg.payload[0].Distancia + \"km\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1580,"y":1440,"wires":[["f8411acbc9d91974"]]},{"id":"35a097bf253d6eb7","type":"ha-entity","z":"0125064f77aca2a5","name":"Preço Gasolina (Poco X3)","server":"32c071b0.4a2c6e","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Preço Gasolina (Poco X3)"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:gas-station"},{"property":"unit_of_measurement","value":"€/l"},{"property":"state_class","value":"measurement"},{"property":"last_reset","value":""}],"state":"payload[0].PrecoDesconto","stateType":"msg","attributes":[{"property":"Marca","value":"payload[0].Marca","valueType":"msg"},{"property":"Posto","value":"payload[0].Nome","valueType":"msg"},{"property":"Distancia","value":"payload[0].Distancia","valueType":"msg"},{"property":"Tipo Combustivel","value":"payload[0].TipoCombustivel","valueType":"msg"},{"property":"Preco Desconto","value":"payload[0].PrecoDesconto","valueType":"msg"},{"property":"Preco","value":"payload[0].Preco","valueType":"msg"}],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1150,"y":1400,"wires":[[]]},{"id":"ce094f7418b8406d","type":"ha-entity","z":"0125064f77aca2a5","name":"Gasóleo (iPhone 13)","server":"32c071b0.4a2c6e","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Gasóleo (iPhone 13)"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"state","stateType":"msg","attributes":[{"property":"MarcaPosto","value":"payload[0].MarcaPosto","valueType":"msg"},{"property":"Nome","value":"payload[0].Nome","valueType":"msg"},{"property":"Marca","value":"payload[0].Marca","valueType":"msg"},{"property":"TipoCombustivel","value":"payload[0].TipoCombustivel","valueType":"msg"},{"property":"PrecoDesconto","value":"payload[0].PrecoDesconto","valueType":"msg"},{"property":"Preco","value":"payload[0].Preco","valueType":"msg"},{"property":"Distancia","value":"payload[0].Distancia","valueType":"msg"},{"property":"Latitude","value":"payload[0].Latitude","valueType":"msg"},{"property":"Longitude","value":"payload[0].Longitude","valueType":"msg"}],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":1800,"y":1080,"wires":[[]]},{"id":"c49fe76f05124afb","type":"comment","z":"0125064f77aca2a5","name":"Corre periodicamente para atualizar os preços a partir do site da DGEG","info":"Corre periodicamente para atualizar os preços a partir do site da DGEG","x":290,"y":380,"wires":[]},{"id":"55fd9517b0444b0d","type":"comment","z":"0125064f77aca2a5","name":"Sensores com base na 'zone.home'. Abrir para mais info","info":"São atualizados quando o Node-RED inicia (inject) e quando existe uma atualização nos preços","x":400,"y":680,"wires":[]},{"id":"56a6e2549c79f180","type":"comment","z":"0125064f77aca2a5","name":"Editar os nodes 'CONFIG'","info":"","x":310,"y":720,"wires":[]},{"id":"23ffe8e513102a34","type":"function","z":"0125064f77aca2a5","name":"CONFIG (Gasóleo - zone.home)","func":"const entity_id = \"zone.home\";      // Entity ID que contenha 'longitude' e 'latitude' como atributos\nconst combustivel = \"DIESEL\";       // Tipo de combustível (DIESEL, GASOLINA ou GPL)\nconst distancia = 4;                // Distancia em quilometros\nconst not_marcas = \"\";     // Lista de Marcas a excluir dos resultados, separadas por virgulas\nconst descontos = [                 // Descontos em combustivel (maximo 3 marcas)\n    {\n        \"marca\": \"REPSOL\",\n        \"desconto\": 0.12\n    },\n    {\n        \"marca\": \"\",\n        \"desconto\": 0.00\n    },\n    {\n        \"marca\": \"\",\n        \"desconto\": 0.00\n    }\n    \n];\n\n\n\n\n\n// ###### Não alterar nada a partir deste ponto ##############\n\nmarcas = \"'\" + not_marcas.replaceAll(\",\",\"','\") + \"'\";\n\n\n\nmsg.config = {\n    \"entity_id\": entity_id,\n    \"combustivel\": combustivel,\n    \"distancia\": distancia,\n    \"not_marcas\": marcas,\n    \"descontos\": descontos\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":760,"wires":[["8c453c395178ab8c"]]},{"id":"a09c6b64f1f82b8a","type":"function","z":"0125064f77aca2a5","name":"CONFIG (Gasolina - zone.home)","func":"const entity_id = \"zone.home\";      // Entity ID que contenha 'longitude' e 'latitude' como atributos\nconst combustivel = \"GASOLINA\";       // Tipo de combustível (DIESEL, GASOLINA ou GPL)\nconst distancia = 4;                // Distancia em quilometros\nconst not_marcas = \"\";     // Lista de Marcas a excluir dos resultados, separadas por virgulas\nconst descontos = [                 // Descontos em combustivel (maximo 3 marcas)\n    {\n        \"marca\": \"REPSOL\",\n        \"desconto\": 0.12\n    },\n    {\n        \"marca\": \"\",\n        \"desconto\": 0.00\n    },\n    {\n        \"marca\": \"\",\n        \"desconto\": 0.00\n    }\n    \n];\n\n\n\n\n\n// ###### Não alterar nada a partir deste ponto ##############\n\nmarcas = \"'\" + not_marcas.replaceAll(\",\",\"','\") + \"'\";\n\nmsg.config = {\n    \"entity_id\": entity_id,\n    \"combustivel\": combustivel,\n    \"distancia\": distancia,\n    \"not_marcas\": marcas,\n    \"descontos\": descontos\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":860,"wires":[["98ba939935b43aec"]]},{"id":"8c453c395178ab8c","type":"subflow:69284ad01f6bc518","z":"0125064f77aca2a5","name":"","x":700,"y":760,"wires":[["f5419da688456d75"]]},{"id":"98ba939935b43aec","type":"subflow:69284ad01f6bc518","z":"0125064f77aca2a5","name":"","x":720,"y":860,"wires":[["845570dbc9e574eb"]]},{"id":"e0a6c64764f2840e","type":"comment","z":"0125064f77aca2a5","name":"Sensores com base num device_tracker. Abrir para mais info","info":"São atualizados quando o Node-RED inicia (inject) e periodicamente de 1 em 1 minuto, para que tenha sempre os preços atualizados para a localização do device_tracker","x":420,"y":1000,"wires":[]},{"id":"519add491b7cd536","type":"comment","z":"0125064f77aca2a5","name":"Editar os nodes 'CONFIG'","info":"","x":310,"y":1040,"wires":[]},{"id":"a3fbbc41bc678ae7","type":"function","z":"0125064f77aca2a5","name":"CONFIG (Gasóleo - iphone13)","func":"const entity_id = \"device_tracker.iphone_13\";   // Entity ID que contenha 'longitude' e 'latitude' como atributos\nconst combustivel = \"DIESEL\";                   // Tipo de combustível (DIESEL, GASOLINA ou GPL)\nconst distancia = 4;                            // Distancia em quilometros\nconst not_marcas = \"\";     // Lista de Marcas a excluir dos resultados, separadas por virgulas\nconst descontos = [                             // Descontos em combustivel (maximo 3 marcas)\n    {\n        \"marca\": \"REPSOL\",\n        \"desconto\": 0.12\n    },\n    {\n        \"marca\": \"\",\n        \"desconto\": 0.00\n    },\n    {\n        \"marca\": \"\",\n        \"desconto\": 0.00\n    }\n    \n];\n\n\n\n\n\n// ###### Não alterar nada a partir deste ponto ##############\n\nmarcas = \"'\" + not_marcas.replaceAll(\",\",\"','\") + \"'\";\n\nmsg.config = {\n    \"entity_id\": entity_id,\n    \"combustivel\": combustivel,\n    \"distancia\": distancia,\n    \"not_marcas\": marcas,\n    \"descontos\": descontos\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":1080,"wires":[["175815f11a39a56a"]]},{"id":"175815f11a39a56a","type":"subflow:69284ad01f6bc518","z":"0125064f77aca2a5","name":"","x":700,"y":1080,"wires":[["52611a528d1ce8a1"]]},{"id":"510dd63bdfa03acb","type":"function","z":"0125064f77aca2a5","name":"CONFIG (Gasolina - iphone13)","func":"const entity_id = \"device_tracker.iphone_13\";   // Entity ID que contenha 'longitude' e 'latitude' como atributos\nconst combustivel = \"GASOLINA\";                   // Tipo de combustível (DIESEL, GASOLINA ou GPL)\nconst distancia = 4;                            // Distancia em quilometros\nconst not_marcas = \"\";     // Lista de Marcas a excluir dos resultados, separadas por virgulas\nconst descontos = [                             // Descontos em combustivel (maximo 3 marcas)\n    {\n        \"marca\": \"REPSOL\",\n        \"desconto\": 0.12\n    },\n    {\n        \"marca\": \"\",\n        \"desconto\": 0.00\n    },\n    {\n        \"marca\": \"\",\n        \"desconto\": 0.00\n    }\n    \n];\n\n\n\n\n\n// ###### Não alterar nada a partir deste ponto ##############\n\nmarcas = \"'\" + not_marcas.replaceAll(\",\",\"','\") + \"'\";\n\nmsg.config = {\n    \"entity_id\": entity_id,\n    \"combustivel\": combustivel,\n    \"distancia\": distancia,\n    \"not_marcas\": marcas,\n    \"descontos\": descontos\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":1180,"wires":[["2bddc105ba1ebc63"]]},{"id":"2bddc105ba1ebc63","type":"subflow:69284ad01f6bc518","z":"0125064f77aca2a5","name":"","x":700,"y":1180,"wires":[["5e4e3b8cae376ff6"]]},{"id":"2098a4617978c83e","type":"inject","z":"0125064f77aca2a5","name":"Every 2 minutes","props":[],"repeat":"120","crontab":"","once":true,"onceDelay":"20","topic":"","x":190,"y":1380,"wires":[["52a93709f13c7720","a580b44cdc2822e6"]]},{"id":"52a93709f13c7720","type":"function","z":"0125064f77aca2a5","name":"CONFIG (Gasóleo - pocox3)","func":"const entity_id = \"device_tracker.poco_x3\";     // Entity ID que contenha 'longitude' e 'latitude' como atributos\nconst combustivel = \"DIESEL\";                   // Tipo de combustível (DIESEL, GASOLINA ou GPL)\nconst distancia = 4;                            // Distancia em quilometros\nconst not_marcas = \"\";     // Lista de Marcas a excluir dos resultados, separadas por virgulas\nconst descontos = [                             // Descontos em combustivel (maximo 3 marcas)\n    {\n        \"marca\": \"REPSOL\",\n        \"desconto\": 0.06\n    },\n    {\n        \"marca\": \"\",\n        \"desconto\": 0.00\n    },\n    {\n        \"marca\": \"\",\n        \"desconto\": 0.00\n    }\n    \n];\n\n\n\n\n\n// ###### Não alterar nada a partir deste ponto ##############\n\nmarcas = \"'\" + not_marcas.replaceAll(\",\",\"','\") + \"'\";\n\nmsg.config = {\n    \"entity_id\": entity_id,\n    \"combustivel\": combustivel,\n    \"distancia\": distancia,\n    \"not_marcas\": marcas,\n    \"descontos\": descontos\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1340,"wires":[["ea06779469ea93da"]]},{"id":"ea06779469ea93da","type":"subflow:69284ad01f6bc518","z":"0125064f77aca2a5","name":"","x":700,"y":1340,"wires":[["201b52412552baec"]]},{"id":"a580b44cdc2822e6","type":"function","z":"0125064f77aca2a5","name":"CONFIG (Gasolina - poco_x3)","func":"const entity_id = \"device_tracker.poco_x3\";     // Entity ID que contenha 'longitude' e 'latitude' como atributos\nconst combustivel = \"GASOLINA\";                 // Tipo de combustível (DIESEL, GASOLINA ou GPL)\nconst distancia = 4;                            // Distancia em quilometros\nconst not_marcas = \"\";     // Lista de Marcas a excluir dos resultados, separadas por virgulas\nconst descontos = [                             // Descontos em combustivel (maximo 3 marcas)\n    {\n        \"marca\": \"REPSOL\",\n        \"desconto\": 0.06\n    },\n    {\n        \"marca\": \"\",\n        \"desconto\": 0.00\n    },\n    {\n        \"marca\": \"\",\n        \"desconto\": 0.00\n    }\n    \n];\n\n\n\n\n\n// ###### Não alterar nada a partir deste ponto ##############\n\nmarcas = \"'\" + not_marcas.replaceAll(\",\",\"','\") + \"'\";\n\nmsg.config = {\n    \"entity_id\": entity_id,\n    \"combustivel\": combustivel,\n    \"distancia\": distancia,\n    \"not_marcas\": marcas,\n    \"descontos\": descontos\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":1440,"wires":[["86a3804007e93c88"]]},{"id":"86a3804007e93c88","type":"subflow:69284ad01f6bc518","z":"0125064f77aca2a5","name":"","x":700,"y":1440,"wires":[["cbb1b7b3c643769a"]]},{"id":"6da639f561211cbc","type":"subflow:0984cfd6e24e1c40","z":"0125064f77aca2a5","name":"","x":580,"y":100,"wires":[[],[]]},{"id":"64494feb52de5361","type":"Stackhero-MySQL","z":"0125064f77aca2a5","server":"ea2d8dc75219d056","name":"","x":840,"y":60,"wires":[[]]},{"id":"d697c73291b21044","type":"subflow:21213a59db6b0bf0","z":"0125064f77aca2a5","name":"","x":510,"y":300,"wires":[["15b7a05a5c7e2248"]]},{"id":"15b7a05a5c7e2248","type":"ha-entity","z":"0125064f77aca2a5","name":"Marcas Combustíveis","server":"32c071b0.4a2c6e","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Marcas Combustíveis"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"Marcas","stateType":"str","attributes":[{"property":"Marcas","value":"payload","valueType":"msg"}],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":700,"y":300,"wires":[[]]},{"id":"f5419da688456d75","type":"subflow:a277764053ecd65e","z":"0125064f77aca2a5","name":"","x":880,"y":760,"wires":[["8c453c395178ab8c"],[],["d12e6696c439f287","ab4a4366df73e068","91310b80a37d37e3"]]},{"id":"845570dbc9e574eb","type":"subflow:a277764053ecd65e","z":"0125064f77aca2a5","name":"","x":880,"y":860,"wires":[["98ba939935b43aec"],[],["9b9b3355d76e623f","11eed59b1508555b","b1e15538e46db425"]]},{"id":"52611a528d1ce8a1","type":"subflow:a277764053ecd65e","z":"0125064f77aca2a5","name":"","x":880,"y":1080,"wires":[["175815f11a39a56a"],[],["660c74c1fac7dec2","d3a0a9af660f0542","a4623b807a145aae"]]},{"id":"5e4e3b8cae376ff6","type":"subflow:a277764053ecd65e","z":"0125064f77aca2a5","name":"","x":880,"y":1180,"wires":[["2bddc105ba1ebc63"],[],["ef25316f251b7ab4","daf4e19ee95b8970","2eef62427ba33926"]]},{"id":"201b52412552baec","type":"subflow:a277764053ecd65e","z":"0125064f77aca2a5","name":"","x":880,"y":1340,"wires":[["ea06779469ea93da"],[],["7ee6947048d9e6d0","bf9613201a017b5e","6fb4b2c277d891eb"]]},{"id":"cbb1b7b3c643769a","type":"subflow:a277764053ecd65e","z":"0125064f77aca2a5","name":"","x":880,"y":1440,"wires":[["86a3804007e93c88"],[],["35a097bf253d6eb7","6c4ae5a73e12e4e9","5dc58bdee378c91f"]]},{"id":"3da938efbad25c5f","type":"comment","z":"0125064f77aca2a5","name":"GitHub","info":"https://github.com/denkyem/HA-DGEG-Combustiveis","x":910,"y":20,"wires":[]},{"id":"32c071b0.4a2c6e","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30}]